.transaction_history {
    color: black;
    width: 600px;
}

.table {
    background-color: #00bcd5;
    color: #fff;
}

.head {
    height: 50px;
}

.item {
    background-color: #fff;
    height: 50px;
    text-align: center; 
    color: dimgrey;
}

.item:nth-child(2n) {
    background-color: #ecf1f3;
}